<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tinder_roush">
    <meta-data android:name="io.sentry.dsn" android:value="https://06b96af913894b638d1e699871364e41@o1102756.ingest.sentry.io/6667534" />
    <!-- Set tracesSampleRate to 1.0 to capture 100% of transactions for performance monitoring.
       We recommend adjusting this value in production. -->
    <meta-data android:name="io.sentry.traces.sample-rate" android:value="1.0" />
    <!-- Enable user interaction tracing to capture transactions for various UI events (such as clicks or scrolls). -->
    <meta-data android:name="io.sentry.traces.user-interaction.enable" android:value="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="true"
        android:requiredFeature="true" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Utils.BaseContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tinderroush"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".OtherProfile.OtherProfileActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationSettings.NotificationSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.ProfileSuccessChange"
            android:exported="false" />
        <activity
            android:name=".Profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.ProfileEditActivity"
            android:exported="false" />
        <activity
            android:name=".MatchSuccess.MatchSuccess"
            android:exported="false" />
        <activity
            android:name=".MenuNavigation.MenuNavigation"
            android:exported="false" />
        <activity
            android:name=".Register.SuccesRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ChatDetail.ChatDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Wizard.OnboardingActivity"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.LoginActivities" />
        <activity
            android:name=".RecoveryPassword.RecoveryPasswordActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.tinder_roush.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
    </application>

</manifest>